[Unit]
Description={{ docker_container_name }}
#After=syslog.target
#After=network.target
#After=docker.target
#Requires=docker.service

[Service]
Type=simple
PIDFile=/run/{{ docker_container_name }}.pid
#WorkingDirectory=/vagrant
User=root
Group=root
ExecStart=docker run --rm --name {{ docker_container_name }} -p {{ host_port }}:{{ container_port }} {{ docker_image_name }}:{{ docker_image_tag }}
Restart=always

[Install]
WantedBy=multi-user.target
